@media (min-width: 768px) {
    header .container {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 5px 80px;
    }

    header .sub-menu a{
        text-decoration: none;
        color: #111111;
        text-transform: capitalize;
        font-weight: bold;
        margin: 0 30px;
        padding: 10px;
    }

    header .hamburger {
        display: none;
    }

    main .booking .banner {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .banner p {
        width: 60%;
        text-align: center;
        font-weight: 600;
        margin: 14px 0 38px;
    }
    
    .banner a {
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 0.875rem;
        padding: 16px 26px;
        text-decoration: none;
        border-radius: 20px;
        margin-bottom: 60px;
    }

    .banner .info {
        grid-template: auto / repeat(4 , 1fr) ;
        grid-gap: 50px;
    }

    .banner .info .item {
        padding: 50px;
        text-align: center;
        border-radius: 22px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3)
    }

    .about-us {
        grid-template: auto / 30% 1fr ;
        grid-gap: 70px; 
        padding: 90px 120px;
    }

    .about-us .picture {
        border: 10px solid #a79770;
        overflow: hidden;
        border-radius: 50%;
    }

    .about-us .sub {
        padding: 0 40px;
        line-height: 90px;
    }

    .about-us h2 {
        text-transform: capitalize;
    }

    .about-us p {
        word-spacing: 3px;
    }

    .about-us a {
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 0.875rem;
        padding: 16px 26px;
        text-decoration: none;
        border-radius: 20px;
        margin-bottom: 32px;
    }




    .find-more {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 60px;
    }

    .find-more p {
        width: 50%;
        text-align: center;
        margin: 8px 0 52px
    }

    .find-more .category {
        grid-template: auto / repeat(3, 1fr) ;
        grid-gap: 40px;
    }

    .find-more .item {
        width: 19rem;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
    }

    .find-more .sub-content {
        position: absolute;
        top: 74%;
        bottom: 0;
        left: 0;
        right: 0;
        /* background-color: #000000;
        opacity: 0.8; */
        backdrop-filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.3);
        justify-content: center;
        align-items: center;
    }

    .find-more .sub-content h4 {
        font-size: 1.3rem;
        font-weight: 600;
        text-transform: uppercase;
    }




    .contact .content {
        padding: 0 6.8em;
        width: 100%;
        grid-template: auto / 1fr 1fr;
        grid-gap: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .contact .sub-info {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        color: #fff;
    }

    .contact h2 {
        font-size: 3.75rem;
        font-family: 'Playfair Display',serif;
        font-weight: 700;
    }

    .contact p {
        margin-bottom: 0.5em;
    }

    .contact .social i{
        color: #fff;
        margin-right: 0.8em;
        font-size: 1.5em;
    }



    .form .sub-form {
        grid-template: auto / 1fr 1fr ;
        grid-gap: 40px;
    }
    
    .mes p,
    .form .sub-form p {
        margin-bottom: 5px;
        color: #fff;
        letter-spacing: 0;
        line-height: 20px;
    }
    
    .form .sub-form input {
        width: 16.938em;
        margin-bottom: 18px;
        padding: 10px 15px;
        border: 1px #e4e4e4;
        border-radius: 8px;
        background-color: hsla(0,0%,100%,.7);
        font-size: 15px;
        line-height: 26px;
    }
    
    .form .mes textarea {
        margin-bottom: 18px;
        padding: 10px 15px;
        resize: vertical;
        border-radius: 8px;
        background-color: hsla(0,0%,100%,.7);
        font-size: 15px;
        line-height: 26px;
        font-family: 'Poppins', sans-serif;
        border: none;
    }
    
    .form .btn {
        width: 100%;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 0.875rem;
        padding: 16px 26px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    header .sub-menu {
        display: none;
    }
}