@media (min-width: 768px) {
    .container {
        display: block;
        max-width: 1366px;
        margin: 0 auto;
    }

    header {
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 5px 80px;
    }

    header .sub-menu a{
        text-decoration: none;
        color: #111111;
        text-transform: capitalize;
        font-weight: bold;
        margin: 0 30px;
        padding: 10px;
    }

    header .hamburger {
        display: none;
    }

    main .booking .banner {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    .banner p {
        width: 60%;
        text-align: center;
        font-weight: 600;
        margin: 16px 0;
    }
    
    .banner a {
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 0.875rem;
        padding: 10px 26px;
        text-decoration: none;
        border-radius: 20px;
        margin-bottom: 32px;
    }

    .banner .info {
        grid-template: auto / repeat(4 , 1fr) ;
        grid-gap: 50px
    }

    .banner .info .item {
        padding: 50px;
        text-align: center;
        border-radius: 22px;
    }

    .about-us {
        grid-template: auto / 30% 1fr ;
        grid-gap: 70px; 
        padding: 90px 120px;
    }

    .about-us .picture {
        border: 10px solid #a79770;
        overflow: hidden;
        border-radius: 50%;
    }

    .about-us .sub {
        padding: 0 40px;
        line-height: 90px;
    }

    .about-us h2 {
        text-transform: capitalize;
    }

    .about-us p {
        word-spacing: 3px;
    }

    .about-us a {
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 0.875rem;
        padding: 10px 26px;
        text-decoration: none;
        border-radius: 20px;
        margin-bottom: 32px;
    }

    .find-more {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 60px;
    }

    .find-more p {
        width: 50%;
        text-align: center;
        margin: 24px 0;
    }

    .find-more .category {
        grid-template: auto / repeat(3, 1fr) ;
    }
}