@media (min-width: 768px) {
    .container {
        display: block;
        max-width: 1366px;
        margin: 0 auto;
    }

    header {
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 5px 30px;
    }

    header .sub-menu a{
        text-decoration: none;
        color: #111111;
        text-transform: capitalize;
        font-weight: bold;
        margin: 0 40px;
    }

    header .hamburger {
        display: none;
    }

    main .booking {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .booking h1 {
        font-size: 3.75rem;
        font-family: 'Playfair Display',serif;
    }
    
    .booking p {
        width: 60%;
        text-align: center;
        font-weight: 600;
        margin: 16px 0;
    }
    
    .booking a {
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 0.875rem;
        padding: 10px 26px;
        text-decoration: none;
        border-radius: 20px;
        margin-bottom: 32px;
    }

    .booking .item {
        padding: 50px;
        max-width: 100%;
        text-align: center;
        border-radius: 22px;
        margin: 0 30px;
    }
}