@media (min-width: 768px) {
    header .container {
        padding: 5px 80px;
    }

    header .sub-menu a{
        margin: 0 30px;
        padding: 10px;
    }

    header .sub-menu {
        display: block;
    }

    header .hamburger {
        display: none;
    }

    main .booking {
        padding-top: 56.25%;
    }

    main .booking .banner {
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .banner h1 {
        font-size: 3.75rem;
        margin: 0;
    }
    
    .banner p {
        text-align: center;
        font-weight: 600;
        width: 60%;
        margin: 14px 0 38px;
    }
    
    .banner a {
        font-size: 0.875rem;
    }

    .banner img {
        width: 50%;
    }

    .banner .info {
        grid-gap: 50px;
    }

    .banner .info .item {
        padding: 50px;
        text-align: center;
        border-radius: 22px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3)
    }

    .banner h4 {
        font-size: 18px;
    }

    .about-us {
        grid-template: auto / 30% 1fr ;
        grid-gap: 70px; 
        padding: 90px 120px;
    }

    .about-us .picture {
        border: 10px solid #a79770;
        overflow: hidden;
        border-radius: 50%;
        width: 100%;
    }

    .about-us .sub {
        padding: 0 40px;
        line-height: 90px;
    }

    .about-us h2 {
        font-size: 3.75rem
    }

    .about-us p {
        word-spacing: 3px;
        font-size: 18px;
        margin-bottom: 0;
    }

    .about-us a {
        font-size: 0.875rem;
    }


    .find-more {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        padding: 60px;
    }

    .find-more h2 {
        font-size: 3.75rem;
        margin-top: 0;
    }

    .find-more p {
        width: 50%;
    }

    .find-more .category {
        grid-template: auto / repeat(3, 1fr) ;
        grid-gap: 40px;
    }

    .find-more .item {
        width: 19rem;
    }

    .find-more .sub-content h4 {
        font-size: 1.3rem;
    }
    
    .contact .content{
        padding: 0 6.8em;
    }

    .contact .sub-info {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        color: #fff;
    }

    .contact .note {
        display: inline-block;
    }

    .contact h2 {
        font-size: 3.75rem;
    }

    .contact p {
        margin-bottom: 0.5em;
    }

    .contact .social i{
        font-size: 1.5em;
    }

    .form .sub-form {
        grid-template: auto / 1fr 1fr ;
        grid-gap: 40px;
    }
    
    .mes p,
    .form .sub-form p {
        margin: 0;
        margin-bottom: 5px;
    }
    
    .form .sub-form input {
        width: 16.938em;
        margin-bottom: 18px;
        padding: 10px 15px;
        line-height: 26px;
    }
    
    .form .mes textarea {
        line-height: 26px;
    }
    
    .form .btn {
        border-radius: 20px;
        padding: 16px 26px;
    }

    .header_page .sub-menu {
        display: block;
        position: static;
        width: auto;
        box-shadow: none;
    }

    .overlay {
        display: none;
    }
}